<div class="container">

<form #miFormulario="ngForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" 
        aria-describedby="emailHelp" placeholder="Product Name"
        name="productName" 
        #productNameField="ngModel"
        ngModel
        required />
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        control valido: {{ productNameField.valid }}
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Descripción</label>
        <input type="text" 
            class="form-control" 
            id="exampleInputPassword1" 
            placeholder="Product Description"
            name="productDescription" [(ngModel)]="product.description">
    </div>
    <div class="form-group">
        <label for="priceField">Precio</label>
        <input type="number" 
            class="form-control" 
            id="priceField" 
            name="productPrice" [(ngModel)]="product.price">
    </div>
    <div class="form-check">
        <input type="checkbox" 
            class="form-check-input" 
            id="exampleCheck1">
        <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
<br />
<br />
formulario valido: {{ miFormulario.valid | json }}
<br />
<br />
{{ product | json }}
</div>

